:root {
  margin: 0;
}

.App {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0;
  margin: 0 !important;
  background: linear-gradient(-45deg, rgba(238, 119, 8, 0.652), rgba(236, 78, 92, 0.65), rgba(200, 125, 223, 0.65), rgba(108, 95, 22, 0.658));
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* *,*::before,*::After {
  outline: rgb(224, 75, 100) dotted 1px;
} */

.AppTitle {
  display: flex;
  height: 10vh;
  margin: 0;
  padding: 25px 0 15px;

  transition: all 0.5s ease-in-out;

  color: whitesmoke;
  text-shadow: 2px 2px black;

  justify-content: center;
  align-items: center;
}

.AppTitle:hover {
  letter-spacing: 5px;
}

.alert {
  padding: 5px 10px;
  background: #229e15bf;
  color: white;
  z-index: 5;
  position: absolute;
  width: calc(100vw - 20px);
}

.form-control {
  display: flex;
  height: 10vh;

  border: none;
  outline: none;

  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.searchbar-control {
  display: block;
  width: 50vw;
  height: 30px;
  padding: 2.5px;
  margin: 0;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2.5px solid white;
  color: white;
  
  font-size: 1.25em;
  text-shadow: 0.5px 0.5px black;

}
.searchbar-control::first-letter {
  text-transform: uppercase;
}


.todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9vw;
  max-width: 85px;
  height: 35px; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: rgb(134, 177, 255);
  background-color: white;

  transition: all 0.25s ease-in-out;

  font-size: 1.25em;
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  .todo-btn {
    height: 25px;
    padding: 0 0 1.5px;
  }
}

.todo-btn:hover {
  background-color:rgb(134, 177, 255);
  color: white;
  cursor:pointer;
}

.todo-filter {
  border: none;
  height: 35px;
  width: 20vw;
  outline: none;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 1em;
  border-bottom: 2.5px solid white;

}

.option {
  background-color: rgba(0,0,0,0.75);
  border: none;
  outline: none;
  color: white;
}

.todo-container {
  display: flex;
  flex-flow: column nowrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: max-content;
  margin: 35px 0 0;
}

.todo-list {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  gap: 5vh;

  height: max-content;
  max-width: 90vw;
  padding: 15px 0;
  margin: 0 30px;
}

.star-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  gap: 5vh;
  height: max-content;
  max-width: 90vw;
  margin: 0 25px;
}

@media only screen and (max-width: 550px) {
  .todo-list, .star-list {
    display: flex;
    justify-content: center;
  }
}

.starTitle {
  color: white;
  font-size: 1.5em;
    text-shadow: 2px 2px black;
}

.todo {

  display: flex;
  flex-flow: column;
  flex: 1 1 200px;
  justify-content: space-between;
  gap: 2vh;

  width: 300px;
  max-width: calc(300px + 5vw);
  height: minmax(min-content, 200px);
  padding: 15px 15px 7.5px;
  overflow: visible;

  background-color:rgba(0, 0, 0, 0.5);
  list-style-type: none;
}

.holder-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.todo-item {
  width: 100%;
  overflow-wrap: anywhere;
  color: white;
  padding-left: 10px
}

.todo-item::first-letter {
  text-transform: uppercase;
}

.holder-btm {
  display: flex;
  gap: 30px;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  overflow: visible;
}

.btn {
  border: none;
  width: 40px;
  overflow: visible;
  height: 25px;
  cursor:pointer;
  padding: 2.5px;
}

.trash {
  background: no-repeat center url(../resources/trash-2.svg);
}

.complete {
  background: no-repeat center url(../resources/check-square.svg);
  margin-left: 10px;
}

.archive {
  background: no-repeat center url(../resources/archive.svg);
}

.color {
  background: no-repeat center url(../resources/brush-outline.svg);
  filter: invert(1);
}

.more {
  background: no-repeat center url(../resources/more-horizontal.svg );
}

.done {
  background: no-repeat center url(../resources/check-square-done.svg);
  filter: brightness(1.72);
}

.copy {
  background: no-repeat center url(../resources/copy.svg);
}

.star {
  background: no-repeat center url(../resources/star.svg);
  align-self: flex-start;
}

.sDone {
  background: no-repeat center url(../resources/starFill.svg);
  align-self: flex-start;
}

.scroller {
  background: no-repeat center url(../resources/arrow-up-circle.svg);
  margin: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 35px;
  width: 35px;
  background-size: 35px;
}